#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 50

/ {
  combos {
    compatible = "zmk,combos";

    combo_caps_word {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <LM1 RM1>;
      bindings = <&caps_word>;
      layers = <DEF>;
    };

    combo_dot_space_shift {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <LH0 RH0>;
      bindings = <&dot_space_shift>;
      layers = <DEF>;
    };

    combo_minus {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RT0 RT1>;
      bindings = <&kp MINUS>;
      layers = <DEF>;
    };

    combo_lodash {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <LT0 LT1>;
      bindings = <&kp UNDERSCORE>;
      layers = <DEF>;
    };

    // right hand sym to plus
    combo_equal {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RM0 RM1>;
      bindings = <&kp EQUAL>;
      layers = <DEF>;
    };

    // right hand sym to plus
    combo_plus {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <LM0 LM1>;
      bindings = <&kp PLUS>;
      layers = <DEF>;
    };

    combo_backslash_slash {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RB0 RB1>;
      bindings = <&kp BACKSLASH>;
      layers = <DEF>;
    };

    combo_pipe {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <LB0 LB1>;
      bindings = <&kp PIPE>;
      layers = <DEF>;
    };

    // <
    combo_lbkt {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <LT1 LM1>;
      bindings = <&kp LBKT>;
      layers = <DEF>;
    };

    // >
    combo_rbkt {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RT1 RM1>;
      bindings = <&kp RBKT>;
      layers = <DEF>;
    };

    // {
    combo_lbrc {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RT1 RT2>;
      bindings = <&kp LBRC>;
      layers = <DEF>;
    };

    // }
    combo_rbrc {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RT2 RT3>;
      bindings = <&kp RBRC>;
      layers = <DEF>;
    };

    // (
    combo_lpar {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RM1 RM2>;
      bindings = <&kp LPAR>;
      layers = <DEF>;
    };

    // )
    combo_rpar {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RM2 RM3>;
      bindings = <&kp RPAR>;
      layers = <DEF>;
    };

    // [
    combo_lt {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RB1 RB2>;
      bindings = <&kp LBKT>;
      layers = <DEF>;
    };

    // ]
    combo_gt {
      timeout-ms = <COMBO_TERM_SLOW>;
      key-positions = <RB2 RB3>;
      bindings = <&kp RBKT>;
      layers = <DEF>;
    };

  };
};
